{% extends 'base.html.twig' %}

{% block title %}TestCrud index{% endblock %}

{% block body %}
    <h1>TestCrud index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test_crud in test_cruds %}
            <tr>
                <td>{{ test_crud.id }}</td>
                <td>{{ test_crud.title }}</td>
                <td>{{ test_crud.description }}</td>
                <td>
                    <a href="{{ path('app_test_crud_show', {'id': test_crud.id}) }}">show</a>
                    <a href="{{ path('app_test_crud_edit', {'id': test_crud.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_test_crud_new') }}">Create new</a>
{% endblock %}
