{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% if post is not empty %}
        <div class="container">
            <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category Name</th>
                    <th scope="col">Category id</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.category }}</td>
                    <td>{{ post.category.id }}</td>
                </tr>
                </tbody>
            </table>
            {% if post.image     is not empty %}
                <img src="{{ '/uploads/' ~ post.image }}">
            {% endif %}


            <div class="list-group">
                <a href="{{ path('post.update' , {'id': post.id}) }}" class="my-4 list-group-item list-group-item-action active">
                    Update Post
                </a>
            </div>

            {{ include('post/button_all_posts.html.twig') }}

        </div>
    {% endif %}
{% endblock %}
